@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
body{
    background-image: url(./pics/mainbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    height: 400px;
    max-height: 750px;
}
.home-text2{
    margin-left: 15%;
    font-family: "Playfair", serif;
    font-size: 40pt;
    color: #2F539B;
    margin-top: 30vh;
}
.home-text1{
    margin-left: 22%;
    font-family: "Playfair", serif;
    font-size: 22pt;
    color: #4D71B9;
    
}
.btn{
    margin-top: 40px;
    margin-left: 25%;
    padding: 20px 20px;
    background-color: transparent;
    border-radius: 0;
    color: #7D7D7D;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    border: 1px solid #4D71B9;
}
.btn:hover{
    border: 3px solid #4D71B9;
    color: #2F539B;
    background-color: transparent;
}
.homeButton{
    margin: 290px 10px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn1{
    align-items: center;
    padding: 8px 25px;
    background-color: transparent;
    border-radius: 0;
    color: #7D7D7D;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    border: 1px solid #4D71B9;
}
.btn1:hover{
    color: white;
    background-color: #4D71B9;
}
.oldmoney-text{
    text-align: center;
    padding: 10px 10px;
    font-family: "Poppins", sans-serif;
}
.oldmoney-text h5{
    font-weight: 500;
    font-size: 18pt;
    font-family: "Poppins", sans-serif;
    color: rgb(31, 31, 31);
}
.oldmoney-text p{
    padding-top: 5px;
    font-weight: 300;
    font-size: 14pt;
    line-height: 34px;
    font-family: "Poppins", sans-serif;
    color: rgb(31, 31, 31);
}
.sale{
    text-align: center;
    margin: 90px auto;
    margin-bottom: 90px;
    background-image: url(./pics/pngtree-sleek-black-fabric-dress-on-moody-3d-surface-picture-image_5584738.jpg);
    background-position: center;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 280px;
    height: 280px;
}
.summer{
    font-family: "Poppins", sans-serif;
    padding: 60px 10px 20px 10px;
    font-weight: 600;
    font-size: 32pt;
    color: white;
}
.off50{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 18pt;
    margin-bottom: 20px;
    color: white;
}
.shopnow-btn{
    font-size: 11pt;
    padding: 13px 25px;
    background-color: white;
    color: black;
    font-weight: 700;
    border-radius: 0;
    
}
.shopnow-btn:hover{
    background-color: transparent;
    color: white;
    font-weight: 700;
    font-size: 11pt;
    padding: 13px 25px;
    border: 3px solid white;
}