
.product-catagory{
    margin-top: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-top: 50px;
}

.catagory-thambnail-image {
    object-fit: cover;
    height: 600px;
    width: 400px;
}


@media (max-width: 1000px) {
    .product-catagory{
        grid-template-columns: auto auto;
    }

}


@media (max-width: 800px) {
    .product-catagory{
        grid-template-columns: auto ;
    }



}

.category-thumbnail {
    
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.category-thumbnail-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    position: relative;
}

.category-title {

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-top: 10px;
    font-size: 24px;
    position: relative;
    bottom: 200px;
    z-index: 40;
    width: 400px;
    height: 196px;

    background:linear-gradient(18deg, rgba(0, 0, 1, 0.093), rgba(56, 56, 56, 0.595));
    color: white;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
}
.category-thumbnail :hover
.category-title{

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-top: 10px;
    font-size: 24px;
    position: relative;
    bottom: 2px;
    z-index: 40;
    width: 400px;
    height: 1px;
    background:linear-gradient(18deg, rgba(0, 0, 1, 0.093), rgba(56, 56, 56, 0.595));
    color: white;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
}

