@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.product-card {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px; 
    break-inside: avoid; 
    position: relative;
  }

.thambnail{
    margin: 10px;
    
}

.save{
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight:600;
    padding:2px 7px;
    position: absolute;
    z-index: 70;
    top: 15px;
    left: 15px;
    background-color: black;
    color:white;
    
}

.thambnail-image{
    width: 100%;
    
}

.product-details{
    display: flex;
    flex-direction: column;
}
.title{
    font-family: "Poppins", sans-serif;
    margin: 5px 10px 5px 11px;

    
}

.price{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14pt;
    margin: 5px 10px 5px 11px;

}

.button-section{
    margin: 5px 10px 5px 11px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.thambnail-switch{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.thambnail-switch-1{
    max-width: 42px;
    max-height: 42px;
}

.thambnail-switch-image{
    width: 100%;
    max-height: 100%;
}



.buy-btn button{
    font-family: "Poppins", sans-serif;
    font-weight:600;

    background-color: aliceblue;
    padding:10px 35px;
    background-color: black;
    color: white;
    
}
.buy-btn button:hover{
    
    background-color: rgb(102, 102, 102);
    padding:10px 35px;
    
    color: white;
    
}

.buy-btn button{
    font-size: 11pt;
    padding: 13px 45px;
    background-color: black;
    color: white;
    font-weight: 700;
    border-radius: 0;
    
}
.buy-btn button:hover{
    background-color: transparent;
    color: black;
    padding: 13px 45px;
    font-weight: 700;
    font-size: 11pt;
    border: 3px solid black;
}